body{
    background-color: hsl(212, 45%, 89%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.attribution 
{ font-size: 15px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.qr-code{
    background-color: white;
    width: 250px;
    padding: 20px;
    border-radius: 10%;
    font-family: "Outfit";
    margin: 50px;
}

img{
    max-width: 100%;
    border-radius: 10%;
}

.bold{
    font-weight: 700;
    font-size: 22px;
}

.light{
    font-weight: 400;
    color: hsl(216, 15%, 48%);
}